<div class="contact-container">
    <div class="contact">
        <h2 class="mb-5" 
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="900"
            data-aos-easing="ease-in-out"
            data-aos-once="false"
            data-aos-mirror="true">
            ¿Te gustaría contactar conmigo?
        </h2>
        <div class="btn-group d-flex flex-column">
            <div
                data-aos="zoom-in-up"
                data-aos-delay="50"
                data-aos-duration="900"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                data-aos-mirror="true">
                <button class="btn btn-contact me-2">
                    <a href="mailto:daniel.amayar001@gmail.com">
                        <fa-icon class="simple" [icon]="emailIcon"></fa-icon>
                    </a>
                </button>
                <span><strong>Correo electrónico: </strong>daniel.amayar001@gmail.com</span>
            </div>
            <div 
                data-aos="zoom-in-up"
                data-aos-delay="50"
                data-aos-duration="900"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                data-aos-mirror="true">
                <button class="btn btn-contact me-2">
                    <a href="">
                        <fa-icon class="simple" [icon]="phoneIcon"></fa-icon>
                    </a>
                </button>
                <span><strong>Teléfono: </strong>+57 312 2946074</span>
            </div>
        </div>
    </div>
</div>