<div class="about-container">
    <div class="row">
        <div class="col-lg-6 about" data-aos="zoom-out-up" data-aos-delay="50" data-aos-duration="900"
            data-aos-easing="ease-in-out" data-aos-once="false" data-aos-mirror="true">
            <h2>Sobre mi:</h2>
            <p>
                Soy un desarrollador Front-end con más de 2 años de experiencia en Angular, enfocado en crear interfaces
                de usuario
                intuitivas y atractivas para mejorar la experiencia del usuario. He trabajado en equipos
                multidisciplinarios que
                permitieron la colaboración efectiva, la adaptación a los cambios y el mantenimiento de un ambiente de
                trabajo positivo.
            </p>
            <p>
                Mi objetivo principal es continuar con mi desarrollo profesional para afinar mis conocimientos y
                evolucionar en el sector
                del desarrollo de software. Me apasiona trabajar en este sector y contribuir al desarrollo de proyectos
                dentro de un equipo de trabajo.
            </p>
        </div>
        <div class="col-lg-6 d-flex justify-content-around align-items-center">
            <div class="social-container"
                data-aos="zoom-in-up"
                data-aos-delay="50"
                data-aos-duration="900"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                data-aos-mirror="true">
                <button type="button" class="btn simple">
                    <a href="https://github.com/DanARRepo" target="_blank">
                        <fa-icon class="simple" [icon]="github"></fa-icon>
                    </a>
                </button>
                <span>GitHub</span>
            </div>
            <div class="social-container"
                data-aos="zoom-in-up"
                data-aos-delay="50"
                data-aos-duration="900"
                data-aos-easing="ease-in-out"
                data-aos-once="false"
                data-aos-mirror="true">
                <button type="button" class="btn simple">
                    <a href="https://www.linkedin.com/in/daniel-amy-r/" target="_blank">
                        <fa-icon [icon]="linkedIn"></fa-icon>
                    </a>
                </button>
                <span>LinkedIn</span>
            </div>
        </div>
    </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
</div>